<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This Beatroot challenge is created by: <em>Robert Pirritano</em>
</p>
<p>
  You can check out my projects at:
  <a href="https://github.com/rpirritano">My Github</a>
  and
  <a href="https://www.robertpirritano.com/">My Sample Projects</a>
</p>
