
<div class="center jumbotron">
  <h1>Beatroot Challenge</h1>
  <p>This is the Beatroot challenge application</p>
</div>
<div>
  <%= link_to image_tag("beatroot-logo.svg", alt: "Beatroot logo"),
            'http://beatroot.com/' %>
</div>
